#SendEmails {
	color: #222;
	border: 1px solid #222;
	text-decoration: none;
	font-size: 1.2em;
	width:200px;
	text-align:center;
	background: red;
}
#SendEmails a {
	color: #fff;
	font-weight: bold;
	text-decoration:none;
	text-transform: uppercase;
}
.userStatus1 {
	color: #2B9100;
}
.userStatus0 {
	color: #E52020;
}
.userStatus2 {
	color: #AAA;
}
table.recieverList {
	margin: 20px 0px;
}
table.recieverList td {
	background: #ddd;
	padding: 2px 5px;
}
